// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// color_variables
$base-color: #fff;
$sec-color: #f5f5f5;
$title-color: #333;
$text-color: #748182;
$menu-color: #777;
$dark-color: #000;

// font_variables
$font-stock: 'poppins';
$font-stock-m: 'poppins-m';
$font-stock-b: 'poppins-b';

//list
$social-icon: 'fa-facebook-f' 'fa-twitter' 'fa-instagram' 'fa-behance' 'fa-basketball-ball';