// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    background: $base-color;
    position: relative;
    z-index: -10;
}
.container {
    width: 85%;
    margin: 0 auto;
}